* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "arial";
}

a,
input,
button {
    font-family: "Montserrat", "arial";
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.Fon-page {
    background-color: #E1FF8F;
}

.Fon-page__main {
    display: flex;
    flex-direction: column;
    padding-top: 196px;
    padding-bottom: 156px;

}

.Fon-page__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
}

.Fon-page__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 48px;
}

.Fon-page__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.Fon-page__link:hover {
    background: white;
    color: black;
    border-color: black;
}


.Footer-line {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
    overflow: hidden;
}

.Footer-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 51px;
    height: 90px;
}

.Foter-list-item {
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.About-games {
    background: rgba(32, 32, 39, 1);
}

.mini-games {
    padding-top: 94px;
    padding-bottom: 50px;

}

.games-info{
    display: flex;
    flex-direction: column;
}

.games-info__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 24px;
}

.games-info__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 72px;

}

.games-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.games-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.games-card1, .games-card5 {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    height: 473px;
}

.games-card3, .games-card4 {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    height: 512px;
}

.games-card2, .games-card6 {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    height: 551px;
}

.games-card1 {
    background-image: url(./img/Обложка1.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; /* Скрываем всё, что вылезает за пределы */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card1:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game1{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game1-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game1-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}


.games-card2 {
    background-image: url(./img/Обложка2.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card2:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game4 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game4-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game4-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}



.games-card3 {
    background-image: url(./img/Обложка3.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card3:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game2 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game2-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game2-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

.games-card4 {
    background-image: url(./img/Обложка4.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card4:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game5 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game5-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game5-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

.games-card5 {
    background-image: url(./img/Обложка5.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card5:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game3 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game3-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game3-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

.games-card6 {
    background-image: url(./img/Обложка6.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card6:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game6 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game6-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game6-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}