* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "arial";
}

a,
input,
button {
    font-family: "Montserrat", "arial";
}

/* .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
} */

.Fon-page {
    background-color: #E1FF8F;
}

.Fon-page__main {
    display: flex;
    flex-direction: column;
    padding-top: 196px;
    padding-bottom: 156px;
    padding-left: 120px;
    padding-right: 120px;
}

.Fon-page__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
}

.Fon-page__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 48px;
}

.Fon-page__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.Footer-line {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
    overflow: hidden;
}

.Footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 51px;
    width: 3220px;
}

.Foter-list-item {
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.mini-games {
    padding-top: 94px;
    padding-bottom: 50px;
    padding-left: 120px;
    background: rgba(32, 32, 39, 1);
}

.games-info{
    display: flex;
    flex-direction: column;
}