* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "arial";
}

a,
input,
button {
    font-family: "Montserrat", "arial";
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.Fon-page {
    background-color: #E1FF8F;
    position: relative;
    overflow: hidden;
}

.image-bigstar {
    position: absolute;
    margin-top: -325px;
    right: -365px;
    width: 749px;
    height: 791px;
}

.image-mobile {
    display: none;
}

.image-smallstar {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 94px;
    left: 20px;
}

.image-smallstar2 {
    position: absolute;
    bottom: 149px;
    right: 344px;
}

.image-ministar {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 60px;
    left: 96px;
}

.image-ministar2 {
    position: absolute;
    bottom: 255px;
    right: 455px;
}

.image-line1 {
    position: absolute;
    right: 200px;
    top: -50px;
}

.image-line2 {
    position: absolute;
    right: 160px;
    top: 150px;
}

.image-line3{
    position: absolute;
    right: -35px;
    top: 330px;
}

.image-line4 {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.image-form {
    position: absolute;
    right: 70px;
    bottom: 200px;
}

.Fon-page__main {
    display: flex;
    flex-direction: column;
    padding-top: 196px;
    padding-bottom: 156px;

}

.Fon-page__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
}

.Fon-page__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

.bold {
    font-weight: bold;
}

.Fon-page__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.Fon-page__link:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(32, 32, 39, 1);
    border-color: rgba(32, 32, 39, 1);
}


.Footer-line {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgba(188, 236, 48, 1);
    overflow: hidden;
}

.Footer-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    gap: 51px;
    height: 90px;
    list-style: none;
    padding: 0;
}

.Footer-list-item {
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    flex-shrink: 0;
}

.Footer-list-element {
    flex-shrink: 0;
}

.About-games {
    background: rgba(32, 32, 39, 1);
    position: relative;
    overflow: hidden;
}

.smile-bigstar {
    position: absolute;
    top: 70px;
    right: -140px;
}

.smile-smallstar {
    position: absolute;
    top: 825px;
    left: 40px;
}

.smile-ministar {
    position: absolute;
    top: 770px;
    left: 25px;
}

.mini-games {
    padding-top: 94px;
    padding-bottom: 50px;

}



.games-info{
    display: flex;
    flex-direction: column;
}

.games-info__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 24px;
}

.games-info__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 72px;

}

.games-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.games-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.games-card1, .games-card5 {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    height: 473px;
}

.games-card3, .games-card4 {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    height: 512px;
}

.games-card2, .games-card6 {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    height: 551px;
}

.games-card1 {
    background-image: url(./img/Обложка1.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card1:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game1{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game1-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game1-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}


.games-card2 {
    background-image: url(./img/Обложка2.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card2:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game4 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game4-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game4-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}



.games-card3 {
    background-image: url(./img/Обложка3.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card3:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game2 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game2-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game2-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

.games-card4 {
    background-image: url(./img/Обложка4.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card4:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game5 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game5-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game5-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

.games-card5 {
    background-image: url(./img/Обложка5.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card5:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game3 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game3-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game3-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

.games-card6 {
    background-image: url(./img/Обложка6.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.games-card6:hover{
    transform: scale(1.1);
    z-index: 1;
}

.game6 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.game6-title {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.game6-subtitle {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgba(247, 247, 247, 1);
    width: 108px;
    padding: 8px 16px 10px 16px;
    text-align: center;
}

/* Мини-игры */

.game-section {
    background-color: rgba(32, 32, 39, 1);
    position: relative;
    overflow: hidden;
}

.game-section__ministar1 {
    position: absolute;
    top: 93px;
    right: 124px;
}

.game-section__smallstar1 {
    position: absolute;
    top: 126px;
    left: 1320px;
}

.game-section__ministar2 {
    position: absolute;
    bottom: 45px;
    left: 1249px;
}

.game-section__smallstar2 {
    position: absolute;
    bottom: 65px;
    left: 1329px;
}


.memory-game {
    gap: 36px;
    display: flex;
    flex-direction: column;
}

.game-section__title {
    padding-top: 46px;
    padding-bottom: 72px;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color: rgba(255, 255, 255, 1);
}


.riddle1-game {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid   black;
    border-radius: 30px;
    display:flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.riddle {
    padding: 48px;
    width: 100%;
}

.riddle2-game {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid   black;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}


.riddle3-game {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid   black;
    border-radius: 30px;
    display:flex;
    flex-direction: row-reverse;
    overflow: hidden;
}


.riddle4-game {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid   black;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}


.riddle5-game {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid   black;
    border-radius: 30px;
    display:flex;
    flex-direction: row-reverse;
    overflow: hidden;
}


.riddle6-game {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid   black;
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 144px;
}




.riddle-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    color: rgba(32, 32, 39, 1);
    padding-bottom: 24px;
}

.riddle-subtitle {
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 36px;
}

.riddle-play {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    width: 247px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 16px 28px 16px 28px;
}

.riddle-play:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(32, 32, 39, 1);
    border-color: rgba(32, 32, 39, 1);
}

/* ФУТЕР */

.footer {
    background-color:rgba(189, 237, 53, 1);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-end {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}





@media (min-width: 768px) and (max-width:1024px){
    .image-line1, .image-line2, 
    .image-line3, .image-line4,
    .image-form {
        display: none;
    }

    .image-bigstar {
        margin-top: -325px;
        right: -206px;
        width: 500px;
        height: 550px;
        top: 80px;
    }

    .image-ministar2 {
        bottom: 200px;
        right: 150px;
    }

    .image-smallstar2 {
        bottom: 130px;
        right: 75px;
        width: 57px;
    }

    .Fon-page__main {
        align-items: center;
    }

    .Fon-page__title {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        font-size: 55px;
        font-weight: 700;
        line-height: 49px;
    }

    .Fon-page__subtitle {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        padding-bottom: 36px;
    }

    .Footer-list {
        height: 70px;
        gap: 40px;
    }

    .Footer-list-item {
    font-size: 20px;
    }

    .Footer-list-element__star {
        width: 20px;
    }

    .About-games {
        display: none;
    }
}

@media (max-width: 767px){
    .About-games {
        display: none;
    }


    .Fon-page__link:hover {
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    border-color: rgba(32, 32, 39, 1);
    }

    .Fon-page__main {
        align-items: center;
        padding-top: 147px;
        padding-bottom: 306px;
    }

    .image-line1, .image-line2, 
    .image-line3, .image-line4,
    .image-form, .image-bigstar {
        display: none;
    }

    .image-mobile {
        display: inline-block;
        position: absolute;
        left: 55vw;
        top: -115px;
    }
    
    .image-ministar {
        width: 21px;
        height: 21px;
        top: 64px;
        left: 91px;
    }

    .image-smallstar {
        left: 37px;
        top: 97px;
        width: 33px;
        height: 33px;
    }

    .image-ministar2 {
        top: 557px;
        right: 20vw;
        width: 18px;
        height: 18px;
    }

    .image-smallstar2 {
        right: 10vw;
        top: 580px;
        width: 39px;
        height: 41px;
    }


    .Fon-page__title {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
    }

    .Fon-page__subtitle {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        padding-bottom: 36px;
    }

    .bold {
        font-weight: 600;
    }

    .text-container {
        display: none;
    }

    .Fon-page__link {
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        width: 285px;
        height: 55px;
        background: rgba(32, 32, 39, 1);
        border: 1px solid rgba(32, 32, 39, 1);
        color: white; 
    }

    .Footer-list {
        height: 51px;
        gap: 27px;
        padding-left: 24px;

    }

    .Footer-list-item {
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
    }

    .Footer-list-element__star {
        width: 19px;
    }

}

